@import url('https://fonts.googleapis.com/css2?family=Michroma&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
#content {
    max-width: 1600px;
    margin: 0 auto;
}
nav a {
    text-align: center;
    color:#00357a;
    text-decoration: none;
    padding: 35px;
}
#hero-msg h1 {
    text-align: center;
    color: #397367;
}
#hero-msg h4 {
    text-align: center;
    color: white;
}
.button-box {
    text-align: center;
}
main section {
    text-align: center;
}
#background {
    background-color: #51a2a8;
    height: 725px;
    grid-column: 1/11;
    grid-row: 4/9;
}
body {
    background-color: #e5e5e5;
    font-family: "Open Sans", Michroma, sans-serif;
    font-size: 22px;
    padding: 0;
    margin: 0;
}
h2 {
    margin: 0;
}
header {
    background-color: #51a2a8;
    display: grid;
    grid-template-columns: 150px auto;
}
nav a:hover {
    color: #00357a;
    background-color: #e5e5e5;
}
.book {
    background-color: #00357a;
    color:#e5e5e5;
    text-decoration: none;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}
.join {
    background-color: #fca311;
    color:#00357a;
    text-decoration: none;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}
.book:hover {
    background-color: #fca311;
    color:#00357a; 
}
.join:hover {
    background-color: #e5e5e5;
    color:#fca311; 
 }
.msg {
    background-color: #00357a;
    color: #e5e5e5;
    line-height: 1.5em;
    padding: 35px;
    grid-column: 6/10;
    grid-row: 6/7;
    box-shadow: 5px 5px 10px #6f7364;
}
footer {
    background-color: #51a2a8;
    color: #00357a;
    padding: 25px 50px;
    margin-top: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;

}
.home-title {
    color:#00357a;
    font-family: Michroma, "Open Sans", sans-serif;
    font-size: 2em;
    margin-top: 10px;
}
.msg h2 {
    color: #e5e5e5;
    font-family: Michroma, "Open Sans", sans-serif;
}
.msg p {
    color: #e5e5e5;
    font-size: .8em;
    padding-bottom: 15px;
}
footer a {
    color: #00357a;
    text-decoration: none;
}
footer a:hover {
    color: #00357a;
    background-color: #e5e5e5;
}
.logo {
    width: 80px;
}
.icon {
    width: 80px;
    padding-top: 10px;
}
#hero-img {
    width: 100%;
}
footer p {
    font-size: 1.2em;
}
footer p a:hover {
    text-decoration: underline;
}
#logo_link {
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}
footer .social img {
    padding-top: 15px;
}
.rivers-card, .camping-card, .rapids-card {
    margin: 200px 0;
}
.card-img {
    border: 10px solid #51a2a8;
    transition: transform .5s;
    box-shadow: 5px 5px 10px #6f7364;
}
.card-img:hover {
    opacity: .6;
    transform: scale(1.1);
}
main section img {
    box-sizing: border-box;
}
nav {
    display: flex;
    justify-content: space-around;
}
#hero {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    margin-top: -100px;
}
#hero-box {
    grid-column: 1/4;
    grid-row: 1/3;
    z-index: -1;
}
#hero-msg {
    grid-column: 2/3;
    grid-row: 1/2;
    margin-top: 100px;
}
.home-grid {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
}
.card-img, .mountains {
    width: 100%;
}
.rivers-card {
    grid-column: 2/4;
    grid-row: 2/3;
}
.camping-card {
    grid-column: 5/7;
    grid-row: 2/3;  
}
.rapids-card {
    grid-column: 8/10;
    grid-row: 2/3;
}
.mountains {
    grid-column: 2/7;
    grid-row: 5/8;
    box-shadow: 5px 5px 10px #6f7364;
}
/* SUB-PAGE*/
#intro {
    color: #00357a;
    font-size: 25px;
}
#Idaho {
    display: grid;
    grid-template-columns: 1fr 5px 2fr;
}
#Idaho h2 {
    grid-column: 1/4;
    text-align: center;
    color: #00357a;
    text-decoration: underline;
    background-color: #51a2a8;
}
#Idaho-river {
    grid-column: 1/2;
    width: 100%;
    padding: 25px;
    background-color: #51a2a8;
}
#Idaho-par {
    grid-column: 3/4;
    font-size: 20px;
    color: #00357a;
    padding: 25px;
    text-align: justify;
    background-color: #51a2a8;
}

#Utah {
    display: grid;
    grid-template-columns: 1fr 5px 2fr;
}
#Utah h2 {
    grid-column: 1/4;
    text-align: center;
    color: #00357a;
    text-decoration: underline;
}
#Utah-par {
    grid-column: 2/4;
    font-size: 20px;
    color: #00357a;
    padding: 20px;
    text-align: justify;
}
#Utah-river {
    grid-column: 1/2;
    width: 90%;
    height: 90%;
    padding: 20px;
}

#Arizona {
    display: grid;
    grid-template-columns: 1fr 5px 2fr;
}
#Arizona h2 {
    grid-column: 1/4;
    text-align: center;
    color: #00357a;
    text-decoration: underline;
    background-color: #51a2a8;
}
#Arizona-river {
    grid-column: 1/2;
    width: 100%;
    padding: 25px;
    background-color: #51a2a8;
}
#Arizona-par {
    grid-column: 3/4;
    font-size: 20px;
    color: #00357a;
    padding: 25px;
    text-align: justify;
    background-color: #51a2a8;
}
#river-footer {
    margin-top: 150px;
}
form {
  display: inline-block;
  /* Form outline */
  padding: 1em;
  border: 1px solid #cccccc;
  border-radius: 1em;
}
label {
  /* Uniform size & alignment */
  display: inline-block;
  min-width: 90px;
  text-align: right;
}
input,
textarea {
  /* To make sure that all text fields have the same font settings
     By default, text areas have a monospace font */
  font: 1em sans-serif;
  /* Uniform text field size */
  width: 300px;
  box-sizing: border-box;
  /* Match form field borders */
  border: 1px solid #999999;
}
input:focus,
textarea:focus {
  /* Set the outline width and style */
  outline-style: solid;
  /* To give a little highlight on active elements */
  outline-color: black;
}
textarea {
  /* Align multiline text fields with their labels */
  vertical-align: top;
  /* Provide space to type some text */
  height: 5em;
}
.button {
  /* Align buttons with the text fields */
  padding-left: 90px; /* same size as the label elements */
}
button {
  /* This extra margin represent roughly the same space as the space
     between the labels and their text fields */
  margin-left: 0.5em;
}
#feedback {
    background-color: antiquewhite;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding: .5em;
    /* make this element invisible until we are ready for it */
    display: none;      
}
.moveDown {
    margin-top: 3em;
}
/* Media Query*/
@media screen and (max-width: 900px) {
    #hero, .home-grid {
        display: block;
        height: auto;
    }
    nav, footer {
        flex-direction: column;
    }
    nav a {
        display: block;
        padding: 15px;
    }
    #hero {
        margin-top: 0;
    }
    #hero-msg {
        margin-top: 0;
    }
    #hero-msg h4 {
        display: none;
    }
    #hero-msg h1 {
        color: #6f7364;
    }
    .home-title {
        font-size: 25px;
    }
    .rivers-card, .camping-card, .rapids-card { 
        margin: 50px auto;
        width: 60%;
    }
    #background {
        display: none;
    }
    .mountains, .msg {
        width: 80%;
        display: block;
        margin: 0 auto;
    }
    footer {
        margin-top: 25px;
    }
}