.roboto-slab-<uniquifier> {
  font-family: "Roboto Slab", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
main {
    background-color: black;
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: repeat(6, 1fr);
    height: 600px;
}
div {
    background-color: white;
    border-radius: 8px;
    grid-column: 4/7;
}
img {
    border-radius: 8px;
    grid-column: 4/7;
    grid-row: 1/3;
    background-color: black;
    width: 100%;
}
h4 {
    color: rgb(86, 129, 209);
    grid-column: 4/7;
    grid-row: 4/5;
    text-align: center;
    margin-bottom: -20px;
}
h1 {
    text-align: center;
    grid-column: 4/7;
    grid-row: 4/5;
    margin-top: 10px;
}
p {
    text-align: center;
    color: grey;
}
* {
    border: 2px solid blue;
}
#read h3, #read h4{
    color: grey;
    background-color:  rgb(86, 129, 209);

}
