.roboto-slab-<uniquifier> {
  font-family: "Roboto Slab", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
main {
    background-color: black;
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: repeat(6, 1fr);
    height: 555px;
}
#paragraph {
    background-color: white;
    grid-column: 4/7;
}
img {
    border-radius: 8px;
    grid-column: 4/7;
    grid-row: 1/3;
    background-color: black;
    width: 100%;
}
#paragraph h5 {
    color: rgb(86, 129, 209);
    grid-column: 4/7;
    grid-row: 4/5;
    text-align: center;
    margin-top: 10px;
    margin-bottom: -25px;
}
#paragraph h1 {
    text-align: center;
    grid-column: 4/7;
    grid-row: 4/5;
   
}
#paragraph p {
    font-size: 15px;
    text-align: center;
    color: grey;
}
* {
    border: 2px solid blue;
}
#read {
    background-color:rgb(86, 129, 209);
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    grid-column: 4/5;
    grid-row: 6/7;
    color: white;
    font-size: 10px;
}
#read p {
    color: white; 
}
#view {
    grid-column: 4/5;
}

